body {
	background: #eee;
	font-family: arial, helvetica, clean, sans-serif;
	font-size: 14px;
}

fieldset {
	background: #fff;
	border: 1px solid #999;
	margin: 10px 5px;
}

form {
	margin: 0;
}

dl, dt, dd, p, th, td {
	margin: 0;
	padding: 5px;
}

ul, ol, li {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

tr, th, td {
	vertical-align: top;
}

th {
	font-weight: normal;
	text-align: left;
}

input, select, textarea {
	background: #f9f9f9;
	border: 1px solid #ccc;
	width: 300px;
}

textarea {
	height: 100px;
}

input[type="submit"], input[type="button"] {
	background-color: #ccc;
	border: 1px solid #666;
	clear: both;
	margin: 0 5px;
	width: auto;
}

.column {
	float: left;
	width: 475px;
	margin-right: 5px;
}

.separator {
	border-top: 1px dashed #999;
	margin: 20px 0;
}

#configuration dl {
	height: 37px;
	margin: 0;
	width: 390px;
}

#configuration dl, #configuration dl dt, #configuration dl dd, #configuration table th, #configuration table td {
	padding-left: 0;
	padding-right: 10px;
}

#configuration dl dt, #configuration dl dd {
	float: left;
}

#configuration dd p {
	padding: 0;
}

#configuration input, #configuration select, #configuration textarea {
	width: 125px;
}

#configuration .add, #configuration .remove {
	color: #000000;
	display: block;
	height: 20px;
	line-height: 1.5;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
	width: 14px;
}

#configuration .add:before {
	content: "+ ";
}

#configuration .remove:before {
	content: "- ";
}

#preview {
	border: 10px solid #999;
	left: 0;
	position: absolute;
	top: 0;
}