body {
	background: #eee;
	font-family: arial, helvetica, clean, sans-serif;
	font-size: 14px;
}

fieldset {
	background: #fff;
	border: 1px solid #999;
	margin: 10px 5px;
	padding-bottom: 0;
}

form {
	margin: 0;
}

dl, dt, dd, p {
	margin: 10px;
	padding: 0;
}

ul, ol, li {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

input, select, textarea {
	background: #f9f9f9;
	border: 1px solid #ccc;
	width: 300px;
}

li dl {
	float: left;
	height: 37px;
	margin: 0;
	width: 390px;
}

li dt, li dd {
	float: left;
	margin-left: 0;
}

li dd input, li dd select, li dd textarea {
	width: 125px;
}

dd p {
	margin: 0;
}

textarea {
	height: 100px;
}

input[type="submit"], input[type="button"] {
	background-color: #ccc;
	border: 1px solid #666;
	clear: both;
	margin: 10px;
	width: auto;
}

.column {
	float: left;
	width: 475px;
	margin-right: 5px;
}

.separator {
	border-top: 1px dashed #999;
	margin: 20px 0;
}

.add, .remove {
	color: #000000;
	display: block;
	height: 37px;
	line-height: 2.5;
	margin: 10px 0;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
	width: 14px;
}

.add:before {
	content: "+ ";
}

.remove:before {
	content: "- ";
}