body {
	background: #eee;
	font-family: arial, helvetica, clean, sans-serif;
	font-size: 14px;
}

h1 {
	margin: 15px 15px 0;
}

h1 input[type="button"] {
	margin-left: 15px;
}

fieldset {
	background: #fff;
	border: 1px solid #999;
	margin: 15px;
	padding: 0;
}

legend {
	margin: 0 10px;
}

form {
	margin: 0;
}

dt, dd, p, th, td {
	margin: 0;
	padding: 5px 15px;
}

ul, ol, li {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

tr, th, td {
	font-weight: normal;
	vertical-align: top;
}

th {
	text-align: left;
}

input, select, textarea {
	background: #f9f9f9;
	border: 1px solid #ccc;
	width: 300px;
}

input[type="submit"], input[type="button"], input[type="checkbox"], input[type="radio"] {
	width: auto !important;
}

input[type="submit"], input[type="button"] {
	background-color: #ccc;
	border: 1px solid #666;
	clear: both;
}

input[type="checkbox"], input[type="radio"] {
	margin-left: 15px;
}

input[disabled="disabled"], select[disabled="disabled"], textarea[disabled="disabled"] {
	opacity: 0.25;
}

textarea {
	height: 100px;
}

.hidden {
	display: none;
}

.column {
	float: left;
}

.add, .remove, .close {
	border: 1px solid #ccc;
	color: #666;
	display: block;
	font-size: 125%;
	height: 18px;
	line-height: 1;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
	width: 18px;
}

fieldset > .add {
	float: right;
	font-size: 200%;
	height: 30px;
	margin: 5px 15px 15px;
	width: 30px;
}

.add:before {
	content: "+ ";
}

.remove:before {
	content: "- ";
}

.close:before {
	content: "x ";
	position: absolute;
	right: 0;
	top: 0;
}

.separate {
	border-top: 1px dashed #999;
	margin-top: 15px;
	padding-top: 15px;
}

.error {
	border: 1px solid #f00;
}

.configuration dl {
	height: 37px;
	margin: 0;
	width: 390px;
}

.configuration dl, .configuration dl dt, .configuration dl dd, .configuration table th, .configuration table td {
	padding-left: 0;
	padding-right: 10px;
}

.configuration dl dt, .configuration dl dd {
	float: left;
}

.configuration dd p {
	padding: 0;
}

.configuration input, .configuration select, .configuration textarea {
	width: 125px;
}

.preview {
	line-height: 0;
	position: absolute;
	width: 980px;
}

.preview .close {
	border: 0 none;
	font-size: 200%;
	height: 30px;
	line-height: 1 !important;
	width: 30px;
}

#preview {
	border: 1px solid #999;
	left: 0;
	position: absolute;
	top: 0;
}